@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SMS</h1>
    <p>with ASP.NET CORE Razor Pages and Identity.</p>
</div>
