.card[b-xphufu5zb4] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title[b-xphufu5zb4] {
    color: antiquewhite;
    font-size: 15px;
}

.pos[b-xphufu5zb4] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color:grey;
    text-align: left;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

a[b-xphufu5zb4] {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

    button:hover[b-xphufu5zb4], a:hover[b-xphufu5zb4] {
        opacity: 0.7;
    }
